@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');

/*Color*/
:root {
  --main-color: #4880ee;
  --main-color-hover: #366cd8;
  --main-color-rgb: 72, 128, 238;
  --sub-color: #e8f0fd;
  --sub-color-hover: #ddeaff;
  --border-color: rgb(219, 219, 219);
  --gray-color: rgba(66, 66, 66);
  --lgray-color: #999;
  --error-color: rgb(255, 119, 119);
}

.graytxt {
  color: var(--gray-color);
}
.l-graytxt {
  color: var(--lgray-color);
}

.maintxt {
  color: var(--main-color);
}

.subtxt {
  color: var(--sub-color);
}

.maincolor {
  background: var(--main-color);
  color: var(--sub-color);
}

.subcolor {
  background: var(--sub-color);
  color: var(--main-color);
}

.graycolor {
  background: #dcdcdc;
  color: var(--lgray-color);
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-200 {
  font-weight: 200;
}

.font-300 {
  font-weight: 300;
}

.font-600 {
  font-weight: 600;
}
