/* 기사 제목 클릭 시 원문 보기 */
a:link {
    color : black;
    text-decoration: none;
  }
  a:visited {
    color : black;
    text-decoration: none;
  }
  a:hover {
    color : dodgerblue;
    text-decoration: underline;
  }
  a:active {
    color : royalblue;
    text-decoration: none;
  }

/* 뉴스 카드 */
  .card {
    float: left;
  }

  .card-date {
    margin-bottom: 20px;
    color: #666666;
  }
  
  .card-title {
    margin:20px 0px;
  }
  
  .card-text {
    margin:20px 0px;
    color: #666666;
  }

  .badge-secondary {
    font-weight: normal;
    float: right;
  }

  .box {
    padding:25px 15px;
    margin-bottom: 30px;
    background: #fff;
    color:#333;
    border-radius: 3px;
    box-shadow: 0 5px 30px -5px rgba(0,0,0,0.16);
    height: 270px;
  }

/* 갱신 시간 */
  .time {
    color: darkgray;
    font-weight: normal;
    float: right;
  }
